.container
  .row
    .eight.columns
      %dl
        %dd
          City:
        %dt
          = @camp.city  
        %dd
          Main location:
        %dt
          = @camp.main_location
        %dd
          Second location:
        %dt
          = @camp.second_location
        %dd
          Map address:
        %dt
          = @camp.map_address
        %dd
          Country:
        %dt
          = @camp.country
        %dd
          Start date:
        %dt
          = @camp.start_date
        %dd
          Max numbers:
        %dt
          = @camp.max_numbers
        %dd
          More one day:
        %dt
          = @camp.more_one_day
        %dd
          Numbers source:
        %dt
          = @camp.numbers_source
        %dd
          Image url:
        %dt
          = @camp.image_url
        %dd
          Icon 1:
        %dt
          = @camp.icon_1


          = link_to 'Edit', edit_camp_path(@camp)
          \|
          = link_to 'Back', camps_path
      
    .four.columns
      %h3.large.radius.red.button
        Occupy Somewhere

%p#notice= notice


