%h1 Listing camps

%table
  %tr
    %th Location
    %th
    %th
    %th

  - @camps.each do |camp|
    %tr
      %td= camp.location
      %td= link_to 'Show', camp
      %td= link_to 'Edit', edit_camp_path(camp)
      %td= link_to 'Destroy', camp, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Camp', new_camp_path
