%p#notice= notice

%h1= @camp

= image_tag @camp.image_url if @camp.image_url
= render "map", :camp => @camp.map_address

%p
  %b== Latest news for #{@camp}:

%ul
- @camp.news.each do |article|
  %li= link_to(article[:title], article[:url]).html_safe

%p
  %b City:
  = @camp.city
%p
  %b Main location:
  = @camp.main_location
%p
  %b Second location:
  = @camp.second_location
%p
  %b Map address:
  = @camp.map_address
%p
  %b Country:
  = @camp.country
%p
  %b Start date:
  = @camp.start_date
%p
  %b Max numbers:
  = @camp.max_numbers
  
= link_to 'Edit', edit_camp_path(@camp)
\|
= link_to 'Back', camps_path
