<!DOCTYPE html>
<html>
<head>
  <title>Occupy</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/flashes' %>
<%= yield %>

</body>
</html>
